  <div class="mainpage-header">
      <div class="mainpage-header-left">
        <h1><%= link_to "Customer Management System", root_path, class: 'home-btn' %></h1>
      </div>
      <div class="mainpage-header-right">
        <div class="mainpage-header-right-contents">
          <% if user_signed_in? %>
            <%= link_to "新規顧客登録", new_customer_path, class: 'btn'%>
            <div class="right-content">
              <%= current_user.name %>
            </div>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
          <% else %>
          <% end %>
        </div>
      </div>
  </div>