.account-page  {
  width: 1200px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 5px;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
}
.account-page__inner {
  width: 480px;
  margin: 60px auto;
  padding: 30px 60px 60px 60px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.account-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .field .field-label i {
  font-size: 11px;
}
.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}
.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.account-page .btn {
  width: 300px;
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  margin-top: 20px;
  color: #fff;
  background-color: #668ad8;
  border-bottom: solid 4px #627295;
  border-radius: 5px;
}
.account-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: #fff;
  background-color: #668ad8;
  border-bottom: solid 4px #627295;
  border-radius: 5px;
}
.account-page__inner h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: 100;
  border-bottom: solid 1px #627295;
  text-align: center;
}